<section class="newsletter">

    <h3>Subscribe us for latest updates</h3>

    <form action="">
        <input class="box" type="email" placeholder="enter your email">
        <input type="submit" value="subscribe" class="btn">
    </form>

</section>

<!-- newsletter section ends -->

<!-- footer section starts  -->

<section class="footer">

    <div class="box-container">

        <div class="box">
            <a href="#" class="logo"><i class="fas fa-faucet"></i>Geek Hardwares</a>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ullam culpa sit enim nesciunt rerum laborum
                illum quam error ut alias!</p>
            <div class="share">
                <a href="#" class="btn fab fa-facebook-f"></a>
                <a href="#" class="btn fab fa-twitter"></a>
                <a href="#" class="btn fab fa-instagram"></a>
                <a href="#" class="btn fab fa-linkedin"></a>
            </div>
        </div>

        <div class="box">
            <h3>Our Location</h3>
            <div class="links">
                <a href="#">Indore, India</a>
            </div>
        </div>

        <div class="box">
            <h3>quick links</h3>
            <div class="links">
                <a href="/">home</a>
                <a href="/category">category</a>
                <a href="#">product</a>
                <a href="#">deal</a>
                <a href="/contact">contact</a>
                <a href="/about">about</a>
            </div>
        </div>

        <div class="box">
            <h3>Download Our App</h3>
            <div class="links">
                <a href="#"><img src="images/google.png" height="40px" width="136px"></a>
                <a href="#"><img class="img1" src="images/play.png" height="40px" width="136px"></a>
            </div>
        </div>

    </div>

    <h1 class="credit"> created by <span> Geek Hunters (Group-8) </span> | all rights reserved! </h1>

</section>
