<header>
    <div class="header-1">
        <a href="#" class="logo"><i class="fas fa-faucet"></i>Geek Hardwares</a>

        <form action="" class="search-box-container">
            <input type="search" id="search-box" placeholder="Search Customer...">
            <label for="search-box" class="fas fa-search"></label>
        </form>

    </div>

    <div class="header-2">

        <div id="menu-bar" class="fas fa-bars"></div>

        <nav class="navbar">
            <a href="">CATEGORY</a>
            <a href="">PRODUCT</a>
            <a href="">DEAL</a>
            <a href="">CONTACT US</a>
            <a href="">ABOUT US</a>
        </nav>

        <div class="icons">
            <a href="#" class="fas fa-shopping-cart"></a>
            <a href="#" class="fas fa-heart"></a>
            <a href="#" class="fas fa-user-circle"></a>
        </div>

    </div>

</header>