
<html>
    <head>
        <title>Contact Us</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Geek Hardwares</title>

        <!-- font awesome cdn link  -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

        <!-- custom css file link  -->
        <link rel="stylesheet" href="css/CustomerCss.css">
        </head>

    <body>

        <%-include("../partial//customer/Navigation.ejs")%>

        <h1>About Us</h1>
        <%-include("../partial//customer/Footer.ejs")%>
    </body>
    <script src="js/Customer.js"></script>
</html>
