<html>
    <head>
        <link rel="stylesheet" href="/css/CustomerCss.css">
    </head>

    <body>
        <%-include("../partial/customer/Navigation.ejs")%>
        <div class="container">
            <%
                for (var i = 0; i <result.length; i++)
                {
            %>
                <div class="row">
                    <div class="col-md-6">
                        <div class="card">
                            <div class="card-body">
                                <img src="/images/<%=result[i].pro_image%>" height="100" width="100">
                                <label for="">Description</label>
                                <input value="<%=result[i].description%>">
                                <label for="">Price</label>
                                <input value="<%=result[i].pro_price%>">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        
                    </div>
                </div>
            <%
                }
            %>
        </div>
    </body>
</html>